*~
*.class
*.bak

.DS_Store
._.DS_Store

.classpath
.gradle
.project
.pydevproject
.settings
bin
build
gen
target
.gitattributes
libs

.idea
*.iml
gradle-wrapper.*
gradlew*
local.properties

vip-client/captures
service/captures
stanfordnlpdemo/.idea

